<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>Banking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>withdrawl</display-name>
    <servlet-name>withdrawl</servlet-name>
    <servlet-class>withdrawl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>withdrawl</servlet-name>
    <url-pattern>/withdrawl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifyservlet</display-name>
    <servlet-name>modifyservlet</servlet-name>
    <servlet-class>modifyservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyservlet</servlet-name>
    <url-pattern>/modifyservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteservlet</display-name>
    <servlet-name>deleteservlet</servlet-name>
    <servlet-class>deleteservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteservlet</servlet-name>
    <url-pattern>/deleteservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerregistrationservlet</display-name>
    <servlet-name>customerregistrationservlet</servlet-name>
    <servlet-class>customerregistrationservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerregistrationservlet</servlet-name>
    <url-pattern>/customerregistrationservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerdashboardservlet</display-name>
    <servlet-name>customerdashboardservlet</servlet-name>
    <servlet-class>customerdashboardservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerdashboardservlet</servlet-name>
    <url-pattern>/customerdashboardservlet</url-pattern>
  </servlet-mapping>
</web-app>